<h3><%=@item.name%></h3>
<hr />
<h4> Price: $<%= @item.price%> </h4>
<h4> In Stock: <%= @item.in_stock == true ? "Yes" : "No" %> </h4>
<br>
<%= link_to "Edit Item Details", edit_department_item_path(@department.id, @item.id)%>
<br>
<%= link_to "Back To Items List", department_items_path(@department.id)%>

